{% extends 'layout/base.html' %}

{% block title %}
    Cálculo de Suma de Números Primos
{% endblock %}

{% block content %}
    <h1>Cálculo de Suma de Números Primos</h1>

    <!-- Formulario -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calcular</button>
    </form>

    <!-- Resultados (si existen) -->
    {% if result %}
        <h2>Resultados:</h2>
        <p>La suma de los números primos menores que {{ result.n }} es {{ result.suma_primos }}.</p>
        <a href="{% url 'calcular_suma_primos' %}">Calcular otra suma</a>
    {% endif %}
{% endblock %}
