{% extends 'layout/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Physics and Mathematics</h1>
    <p> On this website, we offer tools to perform physics and math calculations in a simple and fast way. 
        Whether you are an elementary, high school or undergraduate student, here you will find resources 
        to solve problems from the most basic to the most advanced. </p>
    <div>
        <a href="{% url 'calcular_caida_libre' %}">PHYSICS</a>
        <a href="{% url 'calcular_suma_primos' %}">BASICMATH</a>
    </div>
{% endblock %}